/*Estilo customizado*/

/* Layout */
html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../img/background-capa-web.jpg) no-repeat,
                linear-gradient(50deg,#ff4169,#f861d2);
                background-color: inherit;
                background-size: cover;
                background-position: 50%;
                box-sizing: border-box;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

/* Barra de navegação */
nav.navbar-transparente {
    padding: 15px 0;
    background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ce6a8a;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5) ;
}

.link-branco{
    color: white;
}
.link-rosa{
    color: rgb(212, 42, 99);
}

/* Capa */
.capa {
    text-align: left center;
    margin-top: 20%;
    margin-left: 0;
}

.capa h2 {
    color: white;
    line-height: 1.2;
}

.capa a {
    font-size: 1.3em;
}

/*Botões do site*/

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition: background 0.4s,color 0.4s;
    padding: 10px 20px;
}

.btn-vinho {
    background-color: transparent;
    border-color: #320e1f;
    border-width: 2px;
}
.btn-vinho a {
    color: white;
}

.btn-vinho:hover {
    background-color: #320e1f;
    color: white;
}

.btn-vinho:hover a {
    text-decoration: none;
    color: white;
}

.btn-custom2 {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition: background 0.4s,color 0.4s;
    padding: 5px 10px;
    border-color: #320e1f;
}

.btn-rosa {
    background-color: #320e1f;
    color: white;
}
.btn-rosa a {
    color: white;
}
.btn-rosa:hover {
    background-color: white;
    color: #320e1f;
}

.btn-rosa:hover a {
    color: #320e1f;
    text-decoration: none;
}

.btn-custom3 {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition: background 0.4s,color 0.4s;
    padding: 10px 10px;
    font-size: 1.4em;
    margin-top: 35%;
    border-color: #320e1f;
    border-width: 3px;
}

/* Estrutura de conteúdos */
.caixa {
    padding-top: 20px;
    padding-bottom: 20px;
}

#foto1{
    background: url(../img/cilios-capa-web.jpg) no-repeat;
    background-color: inherit;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#foto1 h2{
    color: white;
}

#cilios {
    background: url(../img/grafismo-eos-web-3.jpg);
    background-attachment: fixed;
    background-color: inherit;
    color: #fad7e2;
    padding: 1em;
}

#cilios h3, #cilios h2 {
    color: #ce6a8a;
}

#sobrancelhas {
    background: url(../img/grafismo-eos-web-3.jpg);
    background-attachment: fixed;
    background-color: inherit;
    color: #fad7e2;
    padding: 1em;
}

#sobrancelhas h3, #sobrancelhas h2 {
    color: #ce6a8a;
}

#foto2{
    background: url(../img/sobrancelhas-capa-web.jpg) no-repeat;
    background-color: inherit;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#foto2 h2{
    color: white;
}
#unhas {
    background: url(../img/grafismo-eos-web-3.jpg);
    background-attachment: fixed;
    background-color: inherit;
    color: #fad7e2;
    padding: 1em;
}

#unhas h3, #unhas h2 {
    color: #ce6a8a;
}

#foto3 {
    background: url(../img/unhas-capa-web.jpg) no-repeat;
    background-color: inherit;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#cursos {
    background: white;
}

#cursos h2{
    color: #320e1f;
}

#cursos h3{
    color: #320e1f;
}

/* Rodapé */
footer {
    width: 100%;
    background: black;
    padding: 50px 0 20px 0;
    position: relative;
    color: white;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}

footer h4 {
    color: #ce6a8a;
    font-size: 1em;
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: none;
    color: #ce6a8a;
}

.redes-sociais{
    display: flex;
    justify-content: center;
}

/* Tipografia */
h1 {
    font-weight: 500;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 1.1;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1.1;
}

p {
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 1.1;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .btn-custom {
        margin: 10px 15px;
        font-size: 1em;
    }
    h2{
        font-size: 2.1em;
        font-weight: 600;
        letter-spacing: -0.01em;
        line-height: 1.1
    }
    .capa h2 {
        margin-top: 70%;
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: -0.04em;
    }
    .btn-custom3 {
        margin-top: 100%;
        font-size: 1.0em;
        margin-left: 0;
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h2{
        font-size: 2.3em;
        font-weight: 600;
        letter-spacing: -0.01em;
        line-height: 1.1;
    }
    .btn-custom {
        margin: 10px 15px;
    }
    .capa h2 {
        margin-top: 70%;
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: -0.04em;
    }
    .btn-custom3 {
        margin-top: 100%;
        font-size: 1.0em;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 4em;
    }
    .capa h2 {
        font-size: 1.5em;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  
 }